html {
  scroll-behavior: smooth;
}

img {
  border-radius: 50%;
}

.image-container {
    width: 100%;
    overflow: hidden;
  }

  .image-container img {
    width: 100%;
    height: auto;
    display: block;
  }

#plastic-footprint-calculator {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto;
    max-width: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #4CAF50;
    text-align: center;
    font-size: 30px;
  }

  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="range"] {
    width: 100%;
    margin-bottom: 15px;
  }

  button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #45a049;
  }

  h2 {
    color: #333;
    text-align: center;
  }

  #colorBar {
    height: 20px;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  #result {
    text-align: center;
  }
